html{
    background-color: rgb(56, 47, 47);
}

#center {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.link-middle {
    display: flex;
    justify-content: center;
}

body {
    margin: auto;
    width: 740px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
}

.link + .link {
    margin-left: 10px;
}